<nav class="navbar navbar-expand-md navbar-dark fixed-top color">
  <a class="navbar-brand" href="/content">My Angular2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">      
      <li id="test2">
        <a class="Toys" href="/content">Toys</a>
      </li>
      <li id="test3">
        <a class="Chocolates" href="/content">Chocolates</a>
      </li>
    </ul>
      <i class="material-icons" style="cursor: pointer" (click)="Logout()">&#xe8ac;</i>
  </div>
</nav>