.Home{
    color: white;
    margin-right: 1em;
}
.Toys{
    color: white;
    margin-right: 1em;
}
.Chocolates{
     color: white;
}
.color{
   background-color:  rgb(65, 181, 174);
}
.LoginBtn{
    color: white;
    background: orange;
    border: 2px solid orange;
}