<html>
    <body>
            <div class="IndexFile">
                    <button class="LoginBtn" style="margin-right:5px">
                            <a href="/register" >Register</a>
                          </button>
                <button class="LoginBtn">
                    <a href="/login" >Login</a>
                  </button>              
              </div>  
            <!-- <div style="background-image:  url('assets/images/background.jpg');height:91.2vh"></div>-->
    </body>
</html>
