.LoginDiv{
    /* margin: -44.2% 0 0 0; */
    border: 2px solid rgb(65, 181, 174);
    padding: 100px;
    /* width: 35%; */
    background: #ecdada;
    float: right;
}
.Loginb{
    color: white;
    background: orange;
    border: 2px solid orange;
}